[TWITTER]
AccessToken = example
AccessTokenSecret = example
ConsumerKey = example
ConsumerSecret = example

[PATH]
Pkl = data/pkl/
Csv = data/csv/
PathAut = data/diputados_autonomicos.csv
PathCon = data/diputados_congreso.csv
HandleAut = twitter account
HandleCon = handle

